footer.bg-dark.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                .small.m-0.text-white Copyright &copy; Cameron K. Brooks 2024  <!-- Copyright text -->
            .col-auto
                a.link-light.small(href='#!') Privacy  <!-- Privacy link -->
                span.text-white.mx-1 &middot;  <!-- Middle dot separator -->
                a.link-light.small(href='#!') Terms  <!-- Terms link -->
                span.text-white.mx-1 &middot;  <!-- Middle dot separator -->
                a.link-light.small(href='#!') Contact  <!-- Contact link -->