// Integrum Systems Color Palette
// might be helpful: https://stackoverflow.com/questions/45776055/how-to-extend-modify-customize-bootstrap-with-sass
// Primary Color
$primary-color: #003366; // Deep Blue

// Secondary Color
$secondary-color: #A1A1A1; // Silver/Gray

// Accent Colors
$accent-color-1: #00B8D4; // Vivid Cyan
$accent-color-2: #8BC34A; // Lime Green

// Neutral Colors
$neutral-color-1: #FFFFFF; // White
$neutral-color-2: #212121; // Dark Charcoal


// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Custom SCSS for feature component with Bootstrap icon
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}